<!doctype html>
<html>
    <head>
        <style>
            .error { color: red; } 
        </style>
    </head>

<body>
    <div class="navigation">
        <a href='/'><b>Home</b></a>
        <a href='/blog'><b>All Posts</b></a>
        <a href='/newpost'><b>New Post</b></a>
        <a href='/logout'>Log out</a>
        <a href='/login'>Log in</a>

    </div>
</br>
    <header>
        Assginment for LC 101, Unit 2 - 'Blogz'
    </header>

        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>

        {% endwith %}

    {% block content %}
    {% endblock %}

</body>
    
    <footer>
        <br><br>
        Duane W. Reinhardt <br>
        12808 Standbridge Dr, Riverview, FL 33579 | (757) 803-2042 | <a href="mailto:dwreinhardt75@outlook.com">dwreinhardt75@outlook.com</a>
    </footer>
</html>