<!doctype html>
<html>
    <head>
        
    </head>

<body>
    <div class="navigation">
        <a href="/newpost">Add a Blog Entry</a>
        <a href="/">Home</a>
    </div>
</br>
    <header>
        Assginment for LC 101, Unit 2 - 'Build-a-blog'
    </header>
    <hr />

    {% block content %}
    {% endblock %}

</body>
    
    <footer>
        <br><br>
        Duane W. Reinhardt <br>
        12808 Standbridge Dr, Riverview, FL 33579 | (757) 803-2042 | <a href="mailto:dwreinhardt75@outlook.com">dwreinhardt75@outlook.com</a>
    </footer>
</html>