{% extends "base.html" %}

{% block content %}

    {% if posts|length == 0 %}

        <p>No Blogs yet</p>
    
    {% else %}

        <ul>
            <h1>All Blog Entries</h1>
            {% for posts in posts %}
            <li>
                <h2>
                    <a href="/blogpost?id={{ posts.id }}">
                        {{posts.title}}
                    </a>
                </h2>
                <br>
                {{posts.body}}
                <hr />                
            </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}